.flex-container {
  display: flex;
  background-color: rgb(190, 190, 231);
}

.flex-item {
  width: 60px;
  height: 60px;
  background-color: purple;
  color: white;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 24px;
}
h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 20px;
}
.flex-container-1 {
  display: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
}

.flex-container-1 .flex-item {
  flex: 1 1 auto;
  min-width: 60px;
  height: 60px;
  background-color: purple;
  color: white;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.flex-container-2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: flex-start;
  gap: 10px;
}

.flex-container-2 .flex-item {
  flex: 1 1 auto;
  min-width: 60px;
  height: 60px;
  background-color: purple;
  color: white;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.flex-container-3 {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  height: auto;
  max-height: calc(80px * 4 + 40px);
  align-content: flex-end;
  gap: 10px 40%;
}

.flex-container-3 .flex-item {
  width: 60px;
  height: 60px;
  flex: 0 0 auto;
}

.flex-container-4 {
  flex-wrap: wrap-reverse;
  justify-content: space-around;
}

.flex-container-5 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.flex-container-5 .item1,
.flex-container-5 .item3,
.flex-container-5 .item6 {
  height: 200px;
}

.flex-container-5 .item2,
.flex-container-5 .item8 {
  height: 250px;
}

.flex-container-5 .item4,
.flex-container-5 .item5,
.flex-container-5 .item7 {
  height: 150px;
}

.flex-container-6 {
  height: 300px;
  flex-flow: column wrap;
  height: calc(80px * 3 + 20px);
}

.flex-container-6 .flex-item {
  width: 130px;
}
