:root {
  --magenta: #ff00ff;
  --cyan: #00ffff;
  --limegreen: #32cd32;
  --blue: #0000ff;
  --deeppink: #ff1493;
  --cornflowerblue: #6495ed;
  --green: green;
  --red: red;
}

li[class="dog"] {
  color: var(--magenta);
}

#cat {
  color: var(--cyan);
}

li[class="parrot"] {
  color: var(--limegreen);
}

li[class="donkey"] {
  color: var(--blue);
}

li[class="hedgehog"] {
  color: var(--deeppink);
}

li.dog.cat.parrot {
  color: var(--cornflowerblue);
}

.list-food ol li:first-child {
  color: var(--limegreen);
}
.list-food ol li:nth-child(2) {
  color: var(--magenta);
}
.list-food ol li:nth-child(3) {
  color: var(--cornflowerblue);
}
.list-food ol li:nth-child(4) {
  color: var(--magenta);
}

.list-cleaning li {
  color: var(--green);
}
